.recommendations {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    max-height: 295px;
}

.recommendations__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.recommendations__header h4,
.recoOption__right h4 {
    font-weight: 500;
}

.recommendations__options {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 10px;
}

.recoOption {
    display: flex;
    justify-content: space-between;
}

.recoOption__right {
    display: flex;
    gap: 15px;
}

.recommendations__btn {
    border: 1px solid lightgray;
    border-radius: 40px;
    padding: 10px 50px;
    max-width: 300px;
}

.recommendations__btn:hover {
    background-color: whitesmoke;
}

.recommendations__btn button {
    outline: none;
    background: none;
    border: none;
    height: 100%;
    cursor: pointer;
    width: 100%;
}